.weatherBg{
  background: url("https://www.accuweather.com/images/hero/4/1440x450.jpg");
  height: 50vh;
  display: flex;
  align-items: center;
  
  flex-direction: column;
  justify-content: center;
}

.heading{
  color: aliceblue;
  font-weight: 700;
}

.weatherResultBox{
  margin: auto;
  width: 700px;
  height: 300px;
}

.weathorIcon{
  margin-top: 2rem;
  height: 100px;
  width: 100px;
}
.weatherCity{
font-size: 35px,

}
.weatherTemp{
  font-size: 50px;
  font-weight: 700;
}